---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''
HeaderFilterRegex: 'myshell/.*'
FormatStyle: file
